<!DOCTYPE html>
  <head>
    <title>Sonorous</title>
    <link rel="stylesheet" type="text/css" href="css/screen.css">
  </head>
  <body>
    <div class="content">
    </div>
    <div class="controls">
      <a class="play">Play</a>
      <a class="pause">Pause</a>
      <a class="stop">Stop</a>
      <a class="next">Next</a>
      <a class="prev">Prev</a>
      <span class="track"></span>
      <audio id="player"></audio>
    </div>
    <script src="js/zepto.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/src/Player.js"></script>
    <script src="js/src/MusicNode.js"></script>
    <script src="js/src/MusicLeaf.js"></script>
    <script src="js/src/routes.js"></script>
  </body>
</html>
