<!DOCTYPE html>
  <head>
    <title>Sonorous</title>
    <link rel="stylesheet" type="text/css" href="css/screen.css">
  </head>
  <body>
    <div class="content">
      <div class="music-node">
        <ul class="node-cover">
          <li style="background-image:url(starscream.gif)">
          <li style="background-image:url(minusbaby.gif)">
          <li style="background-image:url(firebrand_boy.gif)">
          <li style="background-image:url(icarus.gif)">
        </ul>
        Music node name
      </div>
      <div class="music-node">
        <ul class="node-cover">
          <li style="background-image:url(starscream.gif)">
          <li style="background-image:url(minusbaby.gif)">
          <li style="background-image:url(firebrand_boy.gif)">
          <li style="background-image:url(icarus.gif)">
        </ul>
        Music node name
      </div>
      <div class="music-node">
        <ul class="node-cover">
          <li style="background-image:url(starscream.gif)">
          <li style="background-image:url(minusbaby.gif)">
          <li style="background-image:url(firebrand_boy.gif)">
          <li style="background-image:url(icarus.gif)">
        </ul>
        Music node name
      </div>
      <div class="music-node">
        <ul class="node-cover">
          <li style="background-image:url(starscream.gif)">
          <li style="background-image:url(minusbaby.gif)">
          <li style="background-image:url(firebrand_boy.gif)">
          <li style="background-image:url(icarus.gif)">
        </ul>
        Music node name
      </div>
      <div class="music-node">
        <ul class="node-cover">
          <li style="background-image:url(starscream.gif)">
          <li style="background-image:url(minusbaby.gif)">
          <li style="background-image:url(firebrand_boy.gif)">
          <li style="background-image:url(icarus.gif)">
        </ul>
        Music node name
      </div>
      <div class="music-node">
        <ul class="node-cover">
          <li style="background-image:url(starscream.gif)">
          <li style="background-image:url(minusbaby.gif)">
          <li style="background-image:url(firebrand_boy.gif)">
          <li style="background-image:url(icarus.gif)">
        </ul>
        Music node name
      </div>
      <div class="music-node">
        <ul class="node-cover">
          <li style="background-image:url(starscream.gif)">
          <li style="background-image:url(minusbaby.gif)">
          <li style="background-image:url(firebrand_boy.gif)">
          <li style="background-image:url(icarus.gif)">
        </ul>
        Music node name
      </div>
      <div class="music-node">
        <ul class="node-cover">
          <li style="background-image:url(starscream.gif)">
          <li style="background-image:url(minusbaby.gif)">
          <li style="background-image:url(firebrand_boy.gif)">
          <li style="background-image:url(icarus.gif)">
        </ul>
        Music node name
      </div>

      <div class="music-leaf media">
        <div class="music-leaf-cover img">
          <img src="starscream.gif">
        </div>
        <div class="music-leaf-content bd">
          <ul>
            <li><a href="">1. Track</a>
            <li><a href="">2. Track</a>
            <li><a href="">3. Track</a>
            <li><a href="">4. Track</a>
            <li><a href="">5. Track</a>
            <li><a href="">6. Track</a>
            <li><a href="">7. Track</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="controls">
    </div>
    <script src="js/zepto.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script>
      var node = {
        name: "8-bit Peoples", 
        path: "
        images: ['starscream.gif', 'minusbaby.gif', 'firebrand_boy.gif', 'icarus.gif']
      };

      var leaf = {
        name: "8bp099 - Starscream - Future, and It Doesn't Work",
        img: "starscream.gif",
        path:"8bp099",
        files: [
          "8pb099-01-starscream-rise_of_space.mp3",
          "8pb099-02-starscream-space_party_anthem.mp3",
          "8pb099-03-starscream-gravity_in_terms_of_space-time.mp3",
          "8pb099-04-starscream-keplers_star_catalog.mp3",
          "8pb099-05-starscream-future_and_it_doesn't_work.mp3"
          ]
      };
      </script>
  </body>
</html>
